body{
    background-image: url("../images/background.png")
}

.header{
    background-color: #d35400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    padding: 20px;
    padding-left: 10px;
    width: 275px;
    margin: 10px;
    text-align: center;
}

.instructions{
    background-color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: teal;
    margin-left: 10px;
    width: 450px;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 5px;
    padding-right: 5px;
    
}

.numberToMatch{
    background-color: #2ecc71;
    color: indigo;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    margin: 10px;
    padding: 50px;
    width: 120px;
}


.winsAndLosses {
    background-color: #48dbfb;
    color: indigo;
    font-size: 25px;
    margin: 10px;
    padding: 50px;
    width: 120px;
}

#numWins {
    padding: 5px;
    margin: 5px;
}

#total {
    background-color: teal;
    color: white;
    width: 210px;
    margin: 10px;
    padding: 5px;

}

.score{
    background-color: teal;
    color: white;
    padding: 3px;
    margin: 10px;
    width: 215px;
}

.userTotal {
    background-color: teal;
    color: white;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    margin: 10px;
    padding: 50px;
    width: 120px;
}

.finalTotal {
    color: white;
}

.gemImage {
    height: 60px;
    margin: 10px;
    width: 60px;

}