body{
    background-image: url("../images/background.png")
}

.header{
    background-color: #d35400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    padding: 20px;
    padding-left: 10px;
    width: 275px;
    margin: 10px;
    text-align: center;
}

.instructions{
    background-color: wheat;
    color: teal;
    margin-left: 10px;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 10px;
}

.numberToMatch{
    background-color: #2ecc71;
    color: indigo;
    margin: 10px;
    padding: 50px;
    width: 120px;
}


.winsAndLosses {
    flex: 50px;
    background-color: #48dbfb;
    margin: 10px;
    padding: 50px;
    width: 120px;
}

#total {
    background-color: teal;
    color: white;
    width: 210px;
    margin: 10px;
    padding: 5px;

}

.userTotal {
    background-color: teal;
    margin: 10px;
    padding: 50px;
    width: 120px;
}

.gemImage {
    height: 60px;
    margin: 10px;
    width: 60px;

}